<?xml version="1.0"?>
<!DOCTYPE config SYSTEM "config.dtd">
<config>
	<ships>
		<ship health="20" id="bigship" score="1000">
			<sprite name="bigship00" z="-1." angle="90">
				<sprite id="turretr" name="turret00" z="1." angle="-45" x="-16" y="-8" cx="10" state="1"/>
				<sprite id="turretl" name="turret00" z="1." angle="45"  x="-16" y="8"  cx="10" state="1"/>
			</sprite> 
			<program id="main">
				<speed value="100."/>
				<program repeat="9">
					<program repeat="4">
						<wait time=".1"/>
						<shoot id="turretr"/>
						<shoot id="turretr" anglerel="-10"/>
						<shoot id="turretr" anglerel="10"/>
						<shoot id="turretl"/>
						<shoot id="turretl" anglerel="-10"/>
						<shoot id="turretl" anglerel="10"/>
					</program>
					<positionrel id="turretr" angle="5"/>
					<positionrel id="turretl" angle="-5"/>
				</program>
				<speed value="0"/>
				<program repeat="-1">
					<wait time=".05"/>
					<shoot id="turretr" name="bullet00" sprrepeat="0" sprlength="3" sprspeed="5"/>
					<shoot id="turretl" name="bullet00" sprrepeat="0" sprlength="3" sprspeed="5"/>
					<positionrel id="turretr" angle="-4"/>
					<positionrel id="turretl" angle="4"/>
				</program>
			</program>
		</ship>
		<ship id="basicship" health="10" score="150">
			<sprite name="ship00" z="2."/>
			<program id="right">
				<speed value="200."/>
				<wait time=".8"/>
				<program repeat="3">
					<wait time=".4"/>
					<shoot speed="400" name="bullet02"/>
					<positionrel angle="-20"/>
				</program>
			</program>
			<program id="left">
				<speed value="200."/>
				<wait time=".8"/>
				<program repeat="3">
					<wait time=".4"/>
					<shoot speed="400" name="bullet02"/>
					<positionrel angle="20"/>
				</program>
			</program>
		</ship>
		<ship id="crotte" health="1000" score="2300">
			<sprite name="logo"/>
			<program id="main">
				<speed value="50"/>
				<wait time="2.5"/>
				<speed value="0"/>
				<program repeat="-1">
					<wait time=".2"/>
					<shoot name="bullet02" anglerel="0"/>
					<shoot name="bullet02" anglerel="90"/>
					<shoot name="bullet02" anglerel="-90"/>
					<shoot name="bullet02" anglerel="180"/>
					<positionrel angle="1"/>
				</program>
			</program>
		</ship>
	</ships>
	<waves>
		<wave id="mainwave" repeat="10">
			<line  id="basicship" program="left" startx="0.2" starty="-.2" endx="0.5" endy="-0.1" n="5" angle="90"/>
			<line  id="basicship" program="right" startx="0.5" starty="-.1" endx="0.8" endy="-0.2" n="5" angle="90"/>
			<wait  time="2."/>
			<wave repeat="2">
				<spawn id="bigship" program="main" x="0.45" angle="95"/>
				<spawn id="bigship" program="main" x="0.55" angle="85"/>
				<wait  time=".5"/>
			</wave>
			<spawn id="bigship" program="main" x="0.35" y="-0.1" angle="95"/>
			<spawn id="bigship" program="main" x="0.65" y="-0.1" angle="85"/>
			<wait  time="2."/>
			<spawn id="bigship" program="main" x="0.25" y="-0.2" angle="95"/>
			<spawn id="bigship" program="main" x="0.75" y="-0.2" angle="85"/>
			<wait  time="2."/>
			<spawn id="crotte" program="main"/>
			<wait/>
		</wave>
	</waves>
</config>

